{% extends 'website/base.html' %}
{% load  static %}
{% block content %}

<!--hero section start-->
<section class="hero-section ptb-120 text-white bg-gradient" style="background: url('{% static 'assets/img/hero-dot-bg.png' %}')no-repeat center right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-10">
                <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                    <h1 class="fw-bold display-5">Thinking of RFID !!! Consider IT....DOne</h1>
                    <p class="lead">DOne RFID turnkey solution leverages RFID
                        technology to digitally identify and connect
                        your inventory in order to easily locate and
                        track any item through the value chain and
                        wherever they are in matters of seconds.
                        Our team will help you design and implement
                        suitable RFID infrastructure and customize
                        and integrate DOne RFID Platform with your
                        existing ERP and inventory systems.
                    </p>
                    <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                        <a href="request-demo.html" class="btn btn-primary me-3">Request For Demo</a>
                        <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn mt-3 mt-lg-0 mt-md-0"> <i
                                class="fas fa-play"></i> Watch Demo </a>
                    </div>
                    <div class="row justify-content-lg-start mt-60">
                        <h6 class="text-white-70 mb-2">Our Top Clients:</h6>
                        <div class="col-4 col-sm-3 my-2 ps-lg-0">
                            <img src="{% static 'assets/img/clients/client-1.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-2.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-3.svg' %}" alt="client" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 mt-5">
                <div class="hero-img position-relative circle-shape-images">
                    <!--animated shape start-->
                    <ul class="position-absolute animate-element parallax-element circle-shape-list">
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-0 hero-1">
                        </li>
                        <li class="layer" data-depth="0.02">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-1 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-2 hero-1">
                        </li>
                        <li class="layer" data-depth="0.04">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-3 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-4 hero-1">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-5 hero-1">
                        </li>
                    </ul>
                    <!--animated shape end-->
                    <img src="{% static 'assets/img/rfid_pic_1.png' %}" alt="hero img" class="img-fluid position-relative z-5">
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero section end-->

<!--feature section start-->
<section class="feature-section two-bg-dark-light ptb-120">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="image-wrap">
                    <img src="{% static 'assets/img/rfid_tracking_ecosysten.png' %}" alt="feature img" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="feature-content-wrap">
                    <h2>Our DOne RFID Solution</h2>

                    <p>
                        ✓ State of the art and versatile RFID platform coupled with industryleading RFID hardware and best-in-class RFID labels and tags to
                        cover every use cases <br><br>
                        ✓ Intuitive, speedy user interface for managing work orders and
                        monitoring/accepting your stock count from multiple devices. <br><br>
                        ✓ Capable of storing essential RFID tag data for inventory
                        management, tracking and visibility. <br><br>
                        ✓ Optimizes data storage for high-volume transactional updates
                        and real-time response. <br><br>
                        ✓ Extensive alert and notification features that can integrate with
                        other systems. <br><br>
                        ✓ Integrates with third party ERP and procurement systems via key
                        fields. <br><br>
                        ✓ Source RFID readers, RFID tags, industrial RFID printers <br><br>
                        ✓ help you develop best business practices for design and rollouts

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section end-->
<!--feature section end-->





<!--feature section two start-->
<section class="feature-section-two ptb-120 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <h2>Product Features</h2>
                    <ul class="list-unstyled mt-5">
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-primary rounded me-4">
                                <i class="fas fa-bezier-curve text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Scalable and versatile </h3>
                                <p>Secured, Cloud scale and Mobile
                                    Ready RFID .
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-danger rounded me-4">
                                <i class="fas fa-fingerprint text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">No Manual Entry</h3>
                                <p>Auto capturing data through RFID
                                    technology
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-dark rounded me-4">
                                <i class="fas fa-cog text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Machine Learning</h3>
                                <p>Automatically alarm when items go
                                    out the door that is not in the order.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-box bg-dark rounded me-4">
                                <i class="fas fa-cog text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Fits into your workflow</h3>
                                <p>Open architecture for seamless
                                    Integration with your WMS and ERP.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                    <ul class="img-overlay-list list-unstyled position-absolute">
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Create a Free Account</h6>
                        </li>
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Install Our Tracking App</h6>
                        </li>
                        <li class="d-flex align-items-center bg-white rounded shadow-sm p-3">
                            <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                            <h6 class="mb-0">Start Tracking your Business</h6>
                        </li>
                    </ul>
                    <img src="{% static 'assets/img/product_feature.png' %}" alt="feature image" class="img-fluid rounded-custom">
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section two end-->

{% endblock %}
