{% extends 'website/base.html' %}
{% block content %}
    <div class="layout layout-sys1 layout-banner" layout-guid="7"
                    layout-no-guid="57ef0a57-54cf-4131-8623-03a88c471cfa">
                    <div class="layout-bg">
                        <div class="mod mod-color mod-othercontent01">
                            <div class="mod-bg mod-bg-othercontent">
                                <div class="mod-content mod-content-othercontent">
                                    <div class="content-bg content-bg-othercontent">
                                        <div class="swiper-container" data-type="default" data-navigation="true"
                                            data-pagination="true" data-pagination-clickable="true" data-autoplay="true"
                                            data-autoplay-delay="4000" data-loop="infinite">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="item item-1">
                                                        <div class="img"><img
                                                                src="https://icdn.tradew.com/file/201807/1573002/jpg/7639477.jpg"
                                                                alt=""></div>
                                                        <div class="texts">
                                                            <div class="text">
                                                                <h2 data-animated="wobble">The Most Comprehensive
                                                                    Provider Of Electronic Shelf Labels Solutions In The
                                                                    World</h2>
                                                                <div class="word" data-animated="bounceInLeft">
                                                                    <p>RF Bluetooth&nbsp; 2.4G&nbsp; NFC &nbsp;Solution
                                                                    </p>
                                                                </div>
                                                                <div class="link" data-animated="bounceInLeft"><a
                                                                        href="https://www.eslmfg.com/products-list.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639490.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/products-list.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639491.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/products-list.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639492.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/products-list.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639493.png"
                                                                            alt=""></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="item item-2">
                                                        <div class="img"><img
                                                                src="https://icdn.tradew.com/file/201807/1573002/jpg/7639543.jpg"
                                                                alt=""></div>
                                                        <div class="texts">
                                                            <div class="text">
                                                                <h2 data-animated="wobble">The Most Trusted Partner Of
                                                                    Electronic Labels System Integrators</h2>
                                                                <div class="word" data-animated="bounceInLeft">
                                                                    <p>Api Interfac Sdk Datapackage Avaliable</p>
                                                                </div>
                                                                <div class="link" data-animated="bounceInLeft"><a
                                                                        href="https://www.eslmfg.com/comm04/Retail-Electronic-Shelf-labels-Solution.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639508.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/comm06/product.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7639509.png"
                                                                            alt=""></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="item item-2">
                                                        <div class="img"><img
                                                                src="https://icdn.tradew.com/file/201807/1573002/jpg/7669190.jpg"
                                                                alt=""></div>
                                                        <div class="texts">
                                                            <div class="text">
                                                                <h2 data-animated="wobble">The Flexible Solutions For
                                                                    Digital Smart Labels</h2>
                                                                <div class="word" data-animated="bounceInLeft">
                                                                    <p>Retail solution, Warehouse solution, Meeting room
                                                                        solution , Healthcare solution</p>
                                                                </div>
                                                                <div class="link" data-animated="bounceInLeft"><a
                                                                        href="https://www.eslmfg.com/comm09/Digital-Labels-For-Meeting-Room.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7669215.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/comm10/Digital-Labels-For-Warehouse.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7669214.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/comm11/ESL-Healthcare-Solution.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7669216.png"
                                                                            alt=""></a><a
                                                                        href="https://www.eslmfg.com/comm13/Moblie-Phone-ESL.htm"><img
                                                                            src="https://icdn.tradew.com/file/201807/1573002/png/7669213.png"
                                                                            alt=""></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="layout layout-sys1 layout-bannerBtm" layout-guid="7"
        layout-no-guid="323a1156-fa1b-4001-b336-f03c1751552a">
        <div class="layout-bg">
            <div class="mod mod-color mod-othercontent01">
                <div class="mod-bg mod-bg-othercontent">
                    <div class="mod-content mod-content-othercontent">
                        <div class="content-bg content-bg-othercontent">
                            <dl>
                                <dt><img alt=""
                                        src="https://icdn.tradew.com/stylefile/20444/iconW011.png" /></dt>
                                <dd>Professional Engineering Team</dd>
                            </dl>
                            <dl>
                                <dt><img alt=""
                                        src="https://icdn.tradew.com/stylefile/20444/iconW021.png" /></dt>
                                <dd>Dedicated Customer Service</dd>
                            </dl>
                            <dl>
                                <dt><img alt=""
                                        src="https://icdn.tradew.com/stylefile/20444/iconW031.png" /></dt>
                                <dd>Urgent Worldwide Shipping</dd>
                            </dl>
                            <dl>
                                <dt><img alt=""
                                        src="https://icdn.tradew.com/stylefile/20444/iconW041.png" /></dt>
                                <dd>Operation Manual and Makerting Suggestion</dd>
                            </dl>
                            <dl>
                                <dt><img alt=""
                                        src="https://icdn.tradew.com/stylefile/20444/iconW051.png" /></dt>
                                <dd>Customize Available</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout layout-sys1 layout-solu" layout-guid="7"
        layout-no-guid="f0e34d5f-c4ed-4e0e-8a5f-30de4322ce23">
        <div class="layout-bg">
            <div class="mod mod-color mod-othercontent01">
                <div class="mod-bg mod-bg-othercontent">
                    <div class="mod-content mod-content-othercontent">
                        <div class="content-bg content-bg-othercontent">
                            <div class="img"><img
                                    src="https://icdn.tradew.com/file/201807/1573002/jpg/7667681.jpg" />
                            </div>
                            <div class="text">
                                <h2>Retail Electronic Shelf labels Solution</h2>
                                <ul>
                                    <li>Digital shelf label size: 1.54″, 2.13″,2.66", 2.9″, 4.2″, 5.8",7.5″,
                                        11.6″</li>
                                    <li>Technology: 2.4G/433 MHz wireless network technology, E-ink display.
                                        Refresh 20 thousands tags /one hour/ap .3-5 years life time, battery
                                        can be replaced quickly.ESL management system</li>
                                    <li>Working Principle: Real-time display the latest contents ,match CRM,
                                        POS, ERP management systems and docking with all kind of metholds
                                        ,such as SQL ,FTP, FILE etc.</li>
                                    <li>Applicable areas:retail, fruit shop,pharmacy, tobacco store,
                                        supermakert and so on.</li>
                                </ul><a
                                    href="https://www.eslmfg.com/comm04/ESL-Smart-Retail-Solution.htm">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout layout-sys1 layout-solu" layout-guid="7"
        layout-no-guid="a1d4553b-1649-4308-9756-8c62e1f0c5d8">
        <div class="layout-bg">
            <div class="mod mod-color mod-othercontent01">
                <div class="mod-bg mod-bg-othercontent">
                    <div class="mod-content mod-content-othercontent">
                        <div class="content-bg content-bg-othercontent">
                            <div class="img"><img
                                    src="https://icdn.tradew.com/file/201807/1573002/jpg/7667687.jpg" />
                            </div>
                            <div class="text">
                                <h2>Digital Labels For Warehouse</h2>
                                <ul>
                                    <li>Electronic shelf label size: 2.13″, 2.9″, 4.2″, 7.5″, 10.2″</li>
                                    <li>Technology: 2.4GHz carrier wave, encryption commnication, E-ink
                                        display, air wake uplow power consumption, 3-5 year lifetime for
                                        battery.ESL management system</li>
                                    <li>Working Principle: System include base station (AP 2.4GHz) and ESL
                                        management.system supports web,webserver: Tomcat, Server
                                        system:JAVA,Database: Mysql</li>
                                    <li>Applicable areas:Warehouse,industrial,industry 4.0</li>
                                </ul><a
                                    href="https://www.eslmfg.com/comm10/Digital-Labels-For-Warehouse.htm">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout layout-sys1 layout-solu" layout-guid="7"
        layout-no-guid="179302a9-60d9-4b7f-9d99-1152d59a3ca7">
        <div class="layout-bg">
            <div class="mod mod-color mod-othercontent01">
                <div class="mod-bg mod-bg-othercontent">
                    <div class="mod-content mod-content-othercontent">
                        <div class="content-bg content-bg-othercontent">
                            <div class="img"><img
                                    src="https://icdn.tradew.com/file/201807/1573002/jpg/7667686.jpg" />
                            </div>
                            <div class="text">
                                <h2>Digital Labels For Meeting Room</h2>
                                <ul>
                                    <li>Electronic label size: 2.13″, 2.9″, 4.2″, 7.5″, 10.2″</li>
                                    <li>Technology: 2.4G BLE , electronic E-ink screen</li>
                                    <li>Working Principle:No base station, no server, mobile Bluetooth
                                        wireless update, Original fast scanning technology, intelligently
                                        sensing the label content to the mobile phone.
                                    <li>Applicable areas:digital table-top signs and name badges,electronic
                                        room signage systems,digital signage for conference</li>
                                </ul><a
                                    href="https://www.eslmfg.com/comm09/Digital-Labels-For-Meeting-Room.htm">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout layout-sys1 layout-solu" layout-guid="7"
                    layout-no-guid="bfd9c7df-e17a-4731-a41a-431a635610e9">
                    <div class="layout-bg">
                        <div class="mod mod-color mod-othercontent01">
                            <div class="mod-bg mod-bg-othercontent">
                                <div class="mod-content mod-content-othercontent">
                                    <div class="content-bg content-bg-othercontent">
                                        <div class="img"><img
                                                src="https://icdn.tradew.com/file/201807/1573002/jpg/7667688.jpg"
                                                alt=""></div>
                                        <div class="text">
                                            <h2>Digital Tags For Healthcare/Hospital</h2>
                                            <ul>
                                                <li>Digital price tags size: 7.5″, 10.2″</li>
                                                <li>Technology: WIFI wireless communication, minimal deployment, remote
                                                    control</li>
                                                <li>Working Principle:Working with standard wifi protocal.Every certain
                                                    period of time (the length can be set), the tag will actively ask
                                                    the server if there is any data that needs to be updated, otherwise
                                                    it will continue to sleep.The tag with high capacity battery and it
                                                    is rechargble.</li>
                                                <li>Applicable areas:Smart medical solution,healthcare solution ,epaper
                                                    bedside card</li>
                                            </ul><a
                                                href="https://www.eslmfg.com/comm11/ESL-Healthcare-Solution.htm">more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}