{% extends 'website/base.html' %}
{% load  static %}
{% block content %}

    <!--hero section start-->
    <section class="hero-section ptb-120 text-white bg-gradient" style="background: url('{% static 'assets/img/hero-dot-bg.png' %}')no-repeat center right">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-10">
                    <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
                        <h1 class="fw-bold display-5">Thinking of RFID !!! Consider IT....DOne</h1>
                        <p class="lead">Our DOne RFID Application Suite leverages RFID technology to digitally identify and connect what’s unconnected in order to easily locate and track them wherever they are. Our experts will help you design and implement suitable RFID infrastructure and seamlessly integrate DOne with your existing systems.</p>
                        <div class="action-btn mt-5 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
                            <a href="#" class="btn btn-primary me-3">Book For Demo</a>
                        </div>
                        <div class="row justify-content-lg-start mt-60">
                            <h6 class="text-white-70 mb-2">Our Top Clients:</h6>
                            <div class="col-4 col-sm-3 my-2 ps-lg-0">
                                <img src="{% static 'assets/img/clients/client-1.svg' %}" alt="client" class="img-fluid">
                            </div>
                            <div class="col-4 col-sm-3 my-2">
                                <img src="{% static 'assets/img/clients/client-2.svg' %}" alt="client" class="img-fluid">
                            </div>
                            <div class="col-4 col-sm-3 my-2">
                                <img src="{% static 'assets/img/clients/client-3.svg' %}" alt="client" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 mt-5">
                    <div class="hero-img position-relative circle-shape-images">
                        <!--animated shape start-->
                        <ul class="position-absolute animate-element parallax-element circle-shape-list">
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-0 hero-1">
                            </li>
                            <li class="layer" data-depth="0.02">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-1 hero-1">
                            </li>
                            <li class="layer" data-depth="0.04">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-2 hero-1">
                            </li>
                            <li class="layer" data-depth="0.04">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-3 hero-1">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-4 hero-1">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'assets/img/shape/circle-1.svg' %}" alt="shape" class="circle-shape-item type-5 hero-1">
                            </li>
                        </ul>
                        <!--animated shape end-->
                        <img src="{% static 'assets/img/rfid_home_pic_1.png' %}" alt="hero img" class="img-fluid position-relative z-5">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--feature promo section start-->
    <section class="feature-promo ptb-120 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-heading text-center">
                        <h2>We Provide Solutions for Better Business</h2>
                        <p>DigitalOne Solutions provides modular AutoID turnkey
                            solutions including hardware, software, services and support.
                            From the first proof of concept to the go-live implementation,
                            DigitalOne supports customers in applications for manufacturing
                            and logistics, health care and intelligent transportation
                            systems.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class=" col-md-6">
                    <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                        <div class="feature-icon icon-center pb-5 rounded-custom bg-primary">
                            <i class="fal fa-layer-group fa-2x text-white"></i>
                        </div>
                        <div class="feature-info-wrap">
                            <h3 class="h5">Hardware</h3>
                            <p>The DigitalOne's RFID readers based solutions are the leading
                                IoT devices for all industrial AutoID solutions. DigitalOne
                                Solutions hardware is the first choice for vehicle
                                identification in ruggedised environments. DigitalOne's
                                portfolio provides modularity for high-speed identification
                                and end-to-end security at the same time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                        <div class="feature-icon icon-center pb-5 rounded-custom bg-danger">
                            <i class="fal fa-shield-check fa-2x text-white"></i>
                        </div>
                        <div class="feature-info-wrap">
                            <h3 class="h5">Software</h3>
                            <p>DigitalOne’s integration software layer, is a
                                modular IoT suite for different identification applications.
                                Passive UHF RFID, ANPR cameras, sensors and various
                                other technologies can be handled with CrossTalk. We
                                provide centrally controlled integration — from device
                                management to a customised handshake to backends
                                and traffic management solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                        <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
                            <i class="fal fa-code fa-2x text-white"></i>
                        </div>
                        <div class="feature-info-wrap">
                            <h3 class="h5">Professional Services</h3>
                            <p>Our services reflect the profound expertise of an
                                innovative technology leader acquired over a whole
                                century. Our experts and highly motivated teams work
                                on excellent solutions together with our partners and
                                customers. We offer reliable support in implementing
                                projects according to your high-quality standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-feature-promo p-lg-5 p-4 text-center mt-3">
                        <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
                            <i class="fal fa-layer-group fa-2x text-white"></i>
                        </div>
                        <div class="feature-info-wrap">
                            <h3 class="h5">Support</h3>
                            <p>Our maintenance team support on site or remotely
                                with the appropriate service concepts, training of
                                local service personnel and build the backbone of a
                                professional maintenance concept.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <img src="{% static 'assets/img/services_dOneOne.png' %}" alt="cta img" class="img-fluid">
            </div>
            <div class="row pt-lg-5 pt-3">
                <div class="col-lg-6 mt-4">
                    <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-5 rounded-custom">
                        <div class="cta-left-info mb-2">
                            <h5>Utilize your software data</h5>
                            <p>Using machine learning and data science develop BI(Business Inelegance) to help your business.</p>
                        </div>
                        <div class="mt-auto">
                            <a href="request-demo.html" class="btn btn-outline-primary btn-sm">More Details</a>
                        </div>
                        <div class="cta-img position-absolute right-0 bottom-0">
                            <img src="{% static 'assets/img/bi_and_data_science.png' %}" alt="cta img" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-5 rounded-custom">
                        <div class="cta-left-info mb-2">
                            <h5>Get real time updated anytime</h5>
                            <p>Using real time build your business dashboard. Interact with the live dashboard and do more progress your business </p>
                        </div>
                        <div class="mt-auto">
                            <a href="request-demo.html" class="btn btn-outline-primary btn-sm">More Details</a>
                        </div>
                        <div class="cta-img position-absolute right-0 bottom-0">
                            <img src="{% static 'assets/img/real_time_dashboard.png' %}" alt="cta img" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--feature promo section end-->

    <!--feature left right content start-->
    <!--why choose us section start-->
    <section class="why-choose-us ptb-120">
        <div class="container">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-5 col-12">
                    <div class="why-choose-content">
                        <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
                            <i class="fal fa-shield-check fa-2x text-white"></i>
                        </div>
                        <h2>DOne Inventory Tracking</h2>
                        <p>There is no one-size-fits-all when it comes to medications inventory tracking. Each customer has different workflows, storage issues,  and IT systems that make it almost impossible to find a solution  that integrates seamlessly while meeting all of your needs.​ That’s why we built Done RFID platform , the most advanced, versatile, and  easy to use automated tracking system available.​​ Its open architecture allows us to fully customize it to provide a  complete solution tailored to your specific needs.</p>
                        <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Thought leadership</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Personal branding</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Modernized prospecting</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Better win rates</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Showcasing success</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Sales compliance</li>
                        </ul>
                        <a href="about-us.html" class="read-more-link text-decoration-none">Know More About Us <i class="far fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                        <img src="{% static 'assets/img/screen/inventory_img_home.png' %}" class="img-fluid" alt="feature-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--why choose us section end-->

    <!--image feature section start-->
    <section class="image-feature pt-60 pb-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 col-12 order-lg-1">
                    <div class="feature-img-content">
                        <div class="icon-box rounded-custom bg-dark shadow-sm d-inline-block">
                            <i class="fal fa-fingerprint fa-2x text-white"></i>
                        </div>
                        <h2>DOne Retail</h2>
                        <p>Our RFID Tracking Platform empowers retailers to have accurate, real-time  visibility on inventory level that is not possible today. This will enable   omnichannel sales and reduces missed sales opportunities due to out of stock items.</p>
                        <a href="about-us.html" class="read-more-link text-decoration-none d-block mt-4">Know More About Us <i class="far fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-0">
                    <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                        <img src="{% static 'assets/img/screen/done_retail_image.png' %}" class="img-fluid" alt="feature-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--image feature section end-->
    <!--feature left right content end-->

    <section class="why-choose-us ptb-120">
        <div class="container">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-5 col-12">
                    <div class="why-choose-content">
                        <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
                            <i class="fal fa-shield-check fa-2x text-white"></i>
                        </div>
                        <h2>DOne Healthcare</h2>
                        <p>We help our healthcare customers offer exemplary patient care services with our proven Track RFID solutions that increase hand hygiene compliance, achieve 100% accuracy when restocking medication trays, and save cost and time while locating surgical instrument</p>
                        <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Thought leadership</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Personal branding</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Modernized prospecting</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Better win rates</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Showcasing success</li>
                            <li class="py-1"><i class="fas fa-check-circle me-2 text-primary"></i>Sales compliance</li>
                        </ul>
                        <a href="about-us.html" class="read-more-link text-decoration-none">Know More About Us <i class="far fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                        <img src="{% static 'assets/img/screen/health_care_ins.png' %}" class="img-fluid" alt="feature-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="image-feature pt-60 pb-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 col-12 order-lg-1">
                    <div class="feature-img-content">
                        <div class="icon-box rounded-custom bg-dark shadow-sm d-inline-block">
                            <i class="fal fa-fingerprint fa-2x text-white"></i>
                        </div>
                        <h2>DOne Asset Tracking</h2>
                        <p>Our DOne RFID Platform solutions help companies replace outdated manual & barcode inventory checks while achieving inventory checks that are 15x faster, stop inventory errors and prevent asset losses while replacing</p>
                        <a href="about-us.html" class="read-more-link text-decoration-none d-block mt-4">Know More About Us <i class="far fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-0">
                    <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
                        <img src="{% static 'assets/img/screen/assets_tracking.png' %}" class="img-fluid" alt="feature-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--customer review tab section start-->
    <section class="customer-review-tab ptb-120 bg-gradient text-white  position-relative z-2">
        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-md-10 col-lg-6">
                    <div class="section-heading text-center">
                        <h2>Done RIFD</h2>
                        <p>Our Company helps our clients to achieve best solutions for their bussiness.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="testimonial-tabContent">
                        <div class="tab-pane fade active show" id="testimonial-tab-1" role="tabpanel">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-6 col-md-6">
                                    <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                        <div class="blockquote-title-review mb-4">
                                            <h3 class="mb-0 h4 fw-semi-bold">Safer Plants</h3>
                                            <br>
                                            <img src="{% static 'assets/img/testimonial/safer_planet.png' %}" class="img-fluid rounded-custom shadow-lg" alt="testimonial author" style="height:300px; width:530px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                        <div class="blockquote-title-review mb-4">
                                            <h3 class="mb-0 h4 fw-semi-bold">Enhancing Patient safety</h3>
                                            <br>
                                            <img src="{% static 'assets/img/testimonial/patient_safety.png' %}" class="img-fluid rounded-custom shadow-lg" alt="testimonial author" style="height:300px; width:530px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="row align-items-center justify-content-between">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                        <div class="blockquote-title-review mb-4">
                                            <h3 class="mb-0 h4 fw-semi-bold">Inventory in Minutes</h3>
                                            <br>
                                            <img src="{% static 'assets/img/testimonial/inventory_min.png' %}" class="img-fluid rounded-custom shadow-lg" alt="testimonial author" style="height:300px; width:530px;">
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                                        <div class="blockquote-title-review mb-4">
                                            <h3 class="mb-0 h4 fw-semi-bold">Unique Consumer experience</h3>
                                            <br>
                                            <img src="{% static 'assets/img/testimonial/customer_experience.png' %}" class="img-fluid rounded-custom shadow-lg" alt="testimonial author" style="height:300px; width:530px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--customer review tab section end-->
    <!--our work process start-->
    <section class="work-process ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-heading text-center">
                        <h2>Our Approach</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                    <div class="img-wrap">
                        <img src="{% static 'assets/img/project-approach.png' %}" alt="work process" class="img-fluid rounded-custom">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                    <ul class="work-process-list list-unstyled">
                        <li class="d-flex align-items-start mb-4">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="far fa-folder-tree fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Full Adoption</h3>
                                <p>We support the rollout and available to guide you in
                                source-tagging items to ensure smooth operations.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="far fa-bezier-curve fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Initial Rollout</h3>
                                <p>We guide your team and assist them in RFID solution
                                    rollout, change management, and initial tagging
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="far fa-layer-group fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Product Prototyping</h3>
                                <p>Interactively whiteboard transparent testing procedures before
                                    bricks-and-clicks initiatives administrate competencies.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4 mb-lg-0">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="fa fa-bullhorn fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Pilot</h3>
                                <p>Leveraging our experience with RFID we deploy a pilot
                                    site to ensure it meets requirements.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4 mb-lg-0">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="fa fa-code-fork fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Solution Design</h3>
                                <p>Conduct a professional site survey and design
                                    solution that meeting your business requirements
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4 mb-lg-0">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="fa fa-briefcase fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                    <h3 class="text-primary h5 mb-2">Business Case</h3>
                                <p>Collaborate with you to develop and verify an ROI plan
                                    specific to your business and outline the next steps
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4 mb-lg-0">
                            <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                <i class="far fa-truck fa-2x"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="text-primary h5 mb-2">Deliver the Final Product</h3>
                                <p>Dramatically plagiarize distributed progressive metrics without error-free globally simplify
                                    standardized alignments.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--our work process end-->
{% endblock %}